.art{
	font-family: 'YahfieHeavy'; 
   font-weight: normal; 
   font-style: normal; 
   font-size: 40px;
   text-align: center;
}

.label{ 
   font-family: 'YahfieHeavy'; 
   font-weight: normal; 
   font-style: normal; 
   text-align: center;
}

.intro{ 
   font-family: 'YahfieHeavy'; 
   font-weight: normal; 
   font-style: normal; 
   font-size: 20px;
   text-align: center;
}

#upLeft {
float: left;

}
#downLeft {
float: left;
}
#upRight {

float: left;
}

#downRight {

float: left;
}
.clear {
clear: both;
}

.space {
	color:white;
}