p { 
   font-family: 'SofiaRegular'; 
   font-weight: normal; 
   font-style: normal;
   font-size: 20px;
}

h1{ 
   font-family: 'SofiaRegular'; 
   font-weight: normal; 
   font-style: normal; 
   font-size: 30px;
}