td {
		border-style: solid;
		border-width: 2px;
		border-color: black;

	}
th {
		border-style: solid;
		border-width: 2px;
		border-color: black;
	}
table {
		border-style: solid;
		border-width: 2px;
		border-color: black;
	}
h1 {
		text-align: center;
		}
h3 {
	text-align: center;
		}
body {
	text-align: center;
		}
td img{
		width: auto;
		height: 450px;
}